#
# Realtek Semiconductor Corp.
#
# Ming Qian (ming_qian@realsil.com.cn)
# Mar. 8, 2016
#


config PACKAGE_librtsuvc
	tristate "librtsuvc"
	select PACKAGE_librtscamkit
	default n
	help


config PACKAGE_rtscamutils
	tristate "rtscamutils"
	select PACKAGE_librtsuvc
	default n
	help

